@keyframes petals {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 100%;
    }
}

.petal {
    animation: petals 1s infinite alternate linear;
    stroke-dasharray: 100 100; 
}